
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" (keyup)="patientService.searcha()" [(ngModel)]="patientService.searchValue" name="searchValue" placeholder="Search" aria-label="Search">
    </form>
  </nav>



<div style="display: flex;justify-content: space-between;">
    <h1>Patients</h1>
    <button class="btn btn-outline-primary" (click)="open(content)">Add Patient</button></div>
<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Patient</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
<form [formGroup]="addpatient" (ngSubmit)="patientService.onSubmit(addpatient)">

    <div class="row">
       <div class="col-lg-7">
        <div class="breadcrumb">    
            <input
              class="form-control"
              placeholder="Name*"
              id="ex1"
              [formControl]="addpatient.controls['name']"
              required
            />
          </div>
       </div>
       <div class="col-lg-4">
        <div class="breadcrumb">    
            <input
            type="number"
              class="form-control "
              placeholder="Age*"
              id="ex3"
              [formControl]="addpatient.controls['age']"
              required
            />
          </div>
       </div>
       <div class="col-lg-7">
        <div class="breadcrumb">    
            <input
              class="form-control"
              placeholder="Phno*"
              id="ex4"
              [formControl]="addpatient.controls['phno']"
              required
            />
          </div>
     </div>
  <div class="col-lg-4">
 
    <div class="breadcrumb">

      <div class="custom-control custom-radio">
        <input type="radio" id="m"  value="M" formControlName="gen"  name="gen" class="custom-control-input">
        <label class="custom-control-label" for="m">M</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="f" value="F" formControlName="gen" name="gen" class="custom-control-input">
        <label class="custom-control-label" for="f">F</label>
      </div>
    </div>
   </div>

    <div class="col-lg-7">
        <div class="breadcrumb">    
            <input
              class="form-control"
              placeholder="Confirm Phno*"
              id="ex5"
              [formControl]="addpatient.controls['phno']"
              required
            />
          </div>
    </div>
    <div class="col-lg-7">
        <div class="breadcrumb">    
            <input
              class="form-control"
              placeholder="Email"
              id="ex6"
              [formControl]="addpatient.controls['email']"
              required
            />
          </div>
    </div>
          
    <div class="col-lg-7">
        <div class="breadcrumb">    
            <textarea
              class="form-control "
              placeholder="Address"
              id="ex7"
              [formControl]="addpatient.controls['address']"
              required
            ></textarea>
          </div>
       </div>
    </div>



    </form>
    </div>




    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="patientService.onSubmit(addpatient)">Save</button>
    </div>
  </ng-template>
  
 
<div class="card"style="background-color: #416eff;color: white;height:50px">
    <div class="row">
        <div class="col-lg-1">
            Name
        </div>
        <div class="col-lg-1">
           Phno
        </div>
        <div class="col-lg-1">
            Age
         </div>
         <div class="col-lg-3">
          Address
         </div>
         <div class="col-lg-2">
            Last visit
           </div>
           <div class="col-lg-1">
            Status
           </div>
           <div class="col-lg-1">
           Action
           </div>
    </div>
</div>
<div style="color: black;">
   <div class="card cardpadding"  *ngFor="let result of patientService.result | async">
    <div class="row">
        <div class="col-lg-2">
           {{result.name}}
        </div>
        <div class="col-lg-2">
          {{result.phno}}
        </div>
        <div class="col-lg-1">
          {{result.age}}
         </div>
         <div class="col-lg-2">
       {{result.address}}
         </div>
         <div class="col-lg-2">
            Last visit
           </div>
           <div class="col-lg-1">
            Status
           </div>
           <div class="col-lg-2">
          <div style="display: flex;">
            <button class="btn"><i class="far fa-edit"></i></button>
          </div>
           </div>
    </div>
    <div class="danger" *ngIf="patientService.found == 0">
      NO RESULTS
    </div>
   </div>

</div>
{{patientService.found == 0}}
{{patientService.found}}